.titulo{
    background-color: rgb(244, 82, 82);
    color: blueviolet;
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 50px;
    font: caption;
    font-size: xx-large;
    display: inline-flex;
    height: 1.3cm;
    justify-content: center;
    align-items: center;
}

.encabezado{
    background-color: blueviolet;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.calle1{
    color: blueviolet;
    padding-left: 20px;
}

.calle2{
    color: blueviolet;
    padding-left: 20px;
}

.pie{
    background-color: blueviolet;
    color: white;
    font: caption;
    height: 1.3cm;
    text-align: center;
    justify-content: center;
    align-items: center;
}

    